In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('/content/train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [4]:
df.dropna(inplace=True)

In [5]:
df['family'] = df['SibSp'] + df['Parch']

In [6]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [9]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [15]:
X=df.iloc[:,0:]
y=df.iloc[:,-1]

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [19]:
# Without binarization

clf = DecisionTreeClassifier()

clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

accuracy_score(y_test,y_pred)

0.993006993006993

In [20]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(

1.0

In [21]:
# Applying Binarization

from sklearn.preprocessing import Binarizer

In [22]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [23]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [30]:
pd.DataFrame(X_train_trf)

       0      1         2    3    4    5
0    1.0  24.00   73.5000  2.0  0.0  0.0
1    0.0  39.00   13.0000  0.0  0.0  0.0
2    0.0  34.00   13.0000  0.0  0.0  0.0
3    1.0  10.00   27.9000  3.0  2.0  0.0
4    1.0   0.92  151.5500  1.0  2.0  1.0
..   ...    ...       ...  ...  ...  ...
566  0.0  28.00    9.5000  0.0  0.0  0.0
567  0.0  80.00   30.0000  0.0  0.0  1.0
568  0.0  23.00   10.5000  0.0  0.0  0.0
569  0.0  59.00   13.5000  0.0  0.0  0.0
570  0.0  22.00  135.6333  0.0  0.0  0.0

[571 rows x 6 columns]

In [31]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2 = clf.predict(X_test_trf)

accuracy_score(y_test,y_pred2)

0.986013986013986

In [32]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X_trf,y,cv=10,scoring='accuracy'))

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(

0.9887715179968701